.live-schema-editor-mount-node {
  padding: 1em;
  border-color: @table-border-color;
  border-style: solid;
}

.live-schema-editor-mount-node .meta-form-title {
  border-bottom-color: black;
}

.live-schema-editor-mount-node .meta-form-title span {
  background: #fff;
}