.meta-form {
  padding: 0 0 1em 0;
}

.meta-form-bottom-bar {
  overflow: hidden;
}

.meta-form-title {
  position:relative;
  z-index:2;
  margin: 0 @grid-gutter-width/2 @grid-gutter-width/2 @grid-gutter-width/2;
}

.meta-form-title:after{
  content:"";
  position:absolute;
  top:50%;
  left:0;
  right:0;
  border-top:solid 1px @table-border-color;
  z-index:-1;
}

.meta-form-title span {
  background:#fff;
  margin:0;
  padding:0 @grid-gutter-width/2 0 0;
  display:inline-block;
}