.meta-form {
  padding: 0 0 1em 0;
}

.meta-form-bottom-bar {
  overflow: hidden;
}

.meta-form .collection-container-item {

}

.meta-form .validation-summary {
  margin-top: 10px;
}

.meta-form .collection-container-item .collection-container-remove-item-wrap {
  display: table-cell;
  padding-right: 10px;
}

.meta-form .collection-container-item .collection-container-array-item-wrap {
  display: table-cell;
}

.glyphicon-text {
  margin-left: 6px;
}